@font-face {
    font-family: 'GTFlexaLight';
    src: url(../fonts/GT-Flexa-Standard-Thin.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexa';
    src: url(../fonts/GT-Flexa-Standard-Light.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexa';
    src: url(../fonts/GT-Flexa-Standard-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexa';
    src: url(../fonts/GT-Flexa-Standard-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexa';
    src: url(../fonts/GT-Flexa-Standard-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexaText';
    src: url(../fonts/GT-Flexa-Expanded-Light.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexaText';
    src: url(../fonts/GT-Flexa-Expanded-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTFlexaText';
    src: url(../fonts/GT-Flexa-Extended-Bold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}